* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(immagini/wallpaper.jpg);
    object-fit: cover;
    background-size: 600px;
    object-fit: fill;
}

.LoginBox {
    width: 370px;
    height: 530px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.295);
    border-radius: 12px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    

}

#title {
    width: 200px;
    margin-left: 100px;
    margin-top: 300px;
    position: sticky;
}

h1 {
    text-align: center;
    position: relative;
    top: 70px;
}

h4 {
    text-align: center;
    font-weight: 400;
    position: relative;
    top: 80px;
}

input {
    outline: none;
    width: 350px;
    height: 38px;
    border-radius: 37px;
    font-size: 14px;
    padding-left: 20px;
    background-color: transparent;
    margin-top: 130px;
    z-index: 4;
    border: 1px solid rgb(122, 122, 122);
    margin-left: 10px;
}


::placeholder {
    font-size: 14px;
    color: rgb(87, 87, 87);
}

button {
    height: 38px;
    width: 350px;
    border-radius: 27px;
    background-color: rgb(31, 31, 31);
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}



@media (max-width: 380px)  {
    .LoginBox {
        width: calc(370px - 50px);
        
    }

    input, button {
        width: calc(350px - 50px);
    }
}


@media (min-height: 563px)  {
    .LoginBox {
        margin-top: 30px;
    } 
}

@media (min-height: 583px)  {
    .LoginBox {
        margin-top: 30px;
    } 
}

@media (min-height: 647px)  {
    .LoginBox {
        margin-top: 60px;
    }
}

@media (min-height: 700px)  {
    .LoginBox {
        margin-top: 80px;
    }       
}

@media (min-height: 800px)  {
    .LoginBox {
        margin-top: 120px;
    }       
}