/**Css reset**/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Montserrat', sans-serif;
}

#container {
    display: grid;
    margin-top: 90px;
    
}

.elemento {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.233);
    border-radius: 10px;
    height: 75px;
    width: 440px;
    margin: auto;
    margin-top: 10px;
}

#icona {
    font-size: 24px;
    margin-top: 24px;
    margin-left: 30px;
}

h3 {
    margin-left: 70px;
    margin-top: -20px;
}



@media (max-width: 460px)  {
    .elemento {
        width: calc(430px - 50px);
        
    }
}

@media (max-width: 420px)  {
    .elemento {
        width: calc(430px - 50px);
        
    }
}

@media (max-width: 397px)  {
    .elemento {
        width: calc(397px - 50px);
        
    }
}

@media (max-width: 353px)  {
    .elemento {
        width: calc(353px - 50px);
        
    }
}

@media (max-height: 353px)  {
    .elemento {
        width: calc(353px - 50px);
        
    }
}

